.kang-visual {
  left:0px;
  top:0px;
  position:absolute;
  
  
  font-size:20px;
  color:white;
  font-weight:bold;
  
}

.kang-spr {
  min-width:50px;
  min-height:50px;  
  border-radius:50%;
  background:#cef;
  
}

.blue {
  background:blue;
}

.red {
  background:red;
}

body {
  background:black;
}

#templates {
    display:none;
}

.kang-dialog {
  background:rgba(255,255,255,0.4);
}


