* {
    user-select:none;
    
}

.kang-visual {
  cursor:pointer;
  left:0px;
  top:0px;
  position:absolute;
  
  
  font-size:20px;
  color:white;
  font-weight:bold;
  margin:0px;padding:0px;
  opacity:0.5;
  border-left:3px solid black;
  border-top:3px solid red;  
  background:url(images/cat-light.png);
}

.kang-spr {
  min-width:6px;
  min-height:6px;  
  background-color:#cef;
  
}

.blue {
  background:blue;
}

.red {
  background:red;
}

canvas {
  margin:0px;padding:0px;
}

body {
  position:relative;
  background:black;
  margin:0px;
}

#templates {
    display:none;
}

.kang-dialog {
  background:rgba(255,255,255,0.4);
}


